@font-face {
    font-family: "Calibry";
    src: local("Calibry"),
    url("../../../../fonts/calibri.ttf");
}

@font-face {
    font-family: 'Calibry';
    src:
            local('Calibry'),
            url("../../../../fonts/calibri.eot");
}

/* Вкладки */
.v-customcomponent .v-tabsheet-tabitem {
    background-color:  #009ee3;
    background-image: url("../icon/mainmenu/angle.png");
    background-repeat: no-repeat;
    background-position: unset;
    background-position-x: left;
    background-position-y: top;
    color: #ffffff;
    font-family: "Calibry", "Arial", serif;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: none;
    height: 57px;
}
.v-customcomponent .v-tabsheet-tabitem:hover {
    background-color: #0bb8e2;
}
.v-customcomponent .v-tabsheet-tabitemcell {
    background-image: url("../icon/mainmenu/border.png");
    background-repeat: repeat-x;
    background-position: unset;
    background-position-x: center;
    background-position-y: center;
    padding-left: 2px;
}
.v-customcomponent .v-tabsheet-tabitem .v-caption {
    background-image: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    width: auto !important;
    height: inherit;
}
.v-customcomponent .v-tabsheet-tabitem .v-caption .v-captiontext {
    height: inherit;
    line-height: 57px;
}

/* Активная вкладка */
.v-customcomponent .v-tabsheet-tabitem-selected,
.v-customcomponent .v-tabsheet-tabitem-selected:hover{
    background-color:  #004375;
    border: none;
}

/* Поле справа */
.v-customcomponent .v-tabsheet-spacertd div {
    visibility: hidden;
}

/* Поле слева */
.v-customcomponent .v-tabsheet-borderless .v-tabsheet-tabitemcell-selected-first,
.v-customcomponent .v-tabsheet-borderless .v-tabsheet-tabitemcell-first
{
    background-color:  #ffffff;
    padding-left: 27px;
}

/* Вкладка с данными пользователя */
.v-customcomponent .v-tabsheet-tabs .usertab {
    width: 100%;
    min-width: 300px;
}

.v-customcomponent .v-tabsheet-tabitem .v-caption-closable {
    background-color:  #ffffff;
    background-image: url("../icon/mainmenu/border.png");
    background-repeat: repeat-x;
    background-position: unset;
    background-position-x: center;
    background-position-y: center;
    padding: 0;
    text-align: left;
}

.v-customcomponent .v-tabsheet-tabitem .v-caption-closable .v-captiontext {
    font-weight: normal;
    min-width: 200px;
    width: calc(100% - 100px);
    display: inline-block;
    text-align: right;
    color: #009ee3;
}
.v-customcomponent .v-tabsheet-tabitem .v-caption-closable .v-captiontext:hover {
    color: #0bb8e2;
}
.v-customcomponent .v-tabsheet-tabitem-selected .v-caption-closable .v-captiontext,
.v-customcomponent .v-tabsheet-tabitem-selected .v-caption-closable .v-captiontext:hover{
    color: #004375;
}

/* Иконка пользователя */
.v-customcomponent .v-tabsheet-tabitem .v-caption-closable img{
    background:url("../icon/mainmenu/user.png") 0 0;
    float: right;
    margin-top: 21px;
    margin-right: 70px;
    width: 15px !important;
}
.v-customcomponent .v-tabsheet-tabitem .v-caption-closable img:hover{
    background:url("../icon/mainmenu/user.png") 0 -32px;
}
.v-customcomponent .v-tabsheet-tabitem-selected .v-caption-closable img,
.v-customcomponent .v-tabsheet-tabitem-selected .v-caption-closable img:hover{
    background:url("../icon/mainmenu/user.png") 0 -16px;
}

/* Иконка выхода */
.v-customcomponent .v-tabsheet-tabitem .v-caption-closable .v-tabsheet-caption-close {
    background-image: url("../icon/mainmenu/exit.png");
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: -57px;
    margin-right: 30px;
    padding-right: 13px;
    width: 18px;
    height: inherit;
}
.v-customcomponent .v-tabsheet-tabitem .v-caption-closable .v-tabsheet-caption-close:hover {
    background-image: url("../icon/mainmenu/exit-hover.png");
    cursor: pointer;
}

/* Стрелочки навигации */
.v-customcomponent .v-tabsheet-tabcontainer .v-tabsheet-scroller {
    border: none;
    width: 100%;
    margin-top: -57px;
    padding: 0;
    visibility: hidden;
}
.v-customcomponent .v-tabsheet-tabcontainer .v-tabsheet-scroller .v-tabsheet-scrollerPrev {
    background-image: url("../icon/mainmenu/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #009ee3;
    border-right: 1px solid #004375;
    height: 57px;
    margin-top: 0;
    float: left;
    visibility: visible;
}
.v-customcomponent .v-tabsheet-tabcontainer .v-tabsheet-scroller .v-tabsheet-scrollerNext {
    background-image: url("../icon/mainmenu/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #009ee3;
    border-left: 1px solid #004375;
    height: 57px;
    margin-top: 0;
    float: right;
    visibility: visible;
}
.v-customcomponent .v-tabsheet-tabcontainer .v-tabsheet-scroller .v-tabsheet-scrollerPrev-disabled {
    margin-top: -20px;
    padding-top: 20px;
}