html, body {
    margin: 0;
    height: 100%;
    color: #ffffff;
    background-color: #004375;
    font-family: "Calibry", "Arial", serif;
}

.header{
    color: white;
    background-color: #002947;
    height: 50px;
    font-family: "Calibry", "Arial", serif;
    min-width: 960px;
}

.header-rkis-icon {
    width: 23px;
    height: 22px;
    background-image: url("../images/rkis.png");
    background-size: 23px 22px;
    display: inline-block;
    margin: 14px 23px 0 0;
    float: right;
}

.header-rkis-label {
    font-size: 20pt;
    display: inline-block;
    margin-top: 8px;
}

.header-operator-label {
    margin-top: 5px;
    height: 17px;
}

.header-gbu-label {
    font-size: 12pt;
    width: 275px;
    float: left;
}

.header-phone-label {
    font-size: 20pt;
    margin-top: 9px;
}

.body-login-icon {
    width: 21px;
    height: 21px;
    background-image: url("../images/login.png");
    background-size: 21px;
    display: inline-block;
    float: right;
}

.body-news-icon {
    width: 20px;
    height: 18px;
    background-image: url("../images/news.png");
    background-size: 20px 18px;
    display: inline-block;
}

.body-login-label {
    font-size: 20pt;
    margin-top: 66px;
    display: inline-block;
}

.body-login-input {
    height: 40px;
    width: 251px;
    border: 2px solid #009ee3;
    color: #002947;
    background: #ffffff;
    font-size: 14pt;
    padding: 2px 10px;
    margin: 2px 12px 0 0;
    float: right;
}

.body-password-input {
    height: 40px;
    width: 251px;
    border: 2px solid #009ee3;
    background: #ffffff;
    font-size: 14pt;
    color: #002947;
    padding: 2px 10px;
    margin: 0 12px 0 0;
    float: right;
}

.body-button {
    text-decoration: none;
    user-select: none;
    outline: none;
    height: 37px;
    width: 127px;
    border-width: 0;
    border-radius: 3px;
    background-image: url("../images/button.png");
    background-repeat: repeat-x;
    background-position: center center;
    font-size: 14pt;
    color: #ffffff;
    padding: 6px;
    margin: 0 12px 0 0;
}
.body-button:hover {
    background: #0bb8e2;
}
.body-button:active {
    background: #51becc;
}

.body-button-icon {
    width: 35px;
    height: 15px;
    background-image: url("../images/cursor.png");
    background-size: 35px 15px;
    display: inline-block;
    margin: 2px 0 0 19px;
}

.body-esia-label {
    font-size: 20pt;
    display: inline-block;
}

.body-news-date-label {
    font-size: 12pt;
    color: #009ee3;
}

.body-news {
    overflow: auto;
    padding-right: 45px;
    min-height: 350px;
}

.warning-icon {
    background-image: url("../images/warning.png");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
    width: 100%;
    height: 160px;
}

.warning-error-label {
    width: 100%;
    font-size: 20pt;
    text-align: center;
}

.warning-button {
    width: 270px;
    height: 47px;
    margin-left: calc(50% - 135px);
    margin-top: 25px;
    padding: 0;
    border: none;
    border-radius: 6px;
    background-image: url("../images/button.png");
    background-repeat: repeat-x;
    font-size: 17pt;
    color: #ffffff;
}
.warning-button:hover {
    background: #0bb8e2;
}
.warning-button:active {
    background: #51becc;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

::-webkit-input-placeholder {
    font-size: 14pt;
    padding: 2px;
    color: #888d97;
}

::-moz-placeholder {
    font-size: 14pt;
    padding: 2px;
    color: #888d97;
}

:-moz-placeholder {
    font-size: 14pt;
    padding: 2px;
    color: #888d97;
}

:-ms-input-placeholder {
    font-size: 14pt;
    padding: 2px;
    color: #888d97;
}

@font-face {
    font-family: 'Calibry';
    src:
    local('Calibry'),
    url("../fonts/calibri.eot");
}

@font-face {
    font-family: 'Calibry';
    src: local('Calibry'),
    url("../fonts/calibri.ttf");
}